.sidebar_header {
  font-size: 20px;
  line-height: 20px;
  margin: 0px 8px;
  padding: 8px;
  border-bottom: 1px solid gray;
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 8px;
}

.sidebar_menu {
  flex: 1 1 auto;
}

.sidebar_item {
  margin: 6px 16px;
  display: flex;
  align-items: center;
}

.sidebar_footer {
  font-size: 14px;
  line-height: 14px;
  margin: 0px 8px;
  padding: 8px;
  border-top: 1px solid gray;
  display: flex;
  align-items: center;
}
